
<section id="brands">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Brands We Work With</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                  <img src="/images/victron.png" alt="Victron Energy Logo" />
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                  <img src="/images/raymarine.png" alt="Raymarine Flir Logo" />
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                  <img src="/images/ancor.png" alt="Ancor Logo" />
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                  <img src="/images/blue-sea.png" alt="Blue Sea Logo" />
                </div>
            </div>
        </div>
    </div>
</section>
