section.intro.hero {

  background-color: #e0e0e0;
  height: auto;
  overflow: auto;

  a.cta {
    margin: 20px auto;
  }

  p { color: #666;}
}

.hero::before {
    content: "";
    background-image: url('/images/logo.svg');
    background-size: cover;
    background-color: #c2c2c2;
    position: absolute;
    top: -75%;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.45;
}

.menu__list__item__link {

  &:hover::after {
    content: "";
    background-image: url('/images/logo.svg');
    background-size: cover;
    position: relative;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;

  }
}


div.fb-post {

  margin: 20px auto;
  width: 80%;
  display: block;
}

.single.services {
  padding: 20px;

  img {
    width: 90%;
    @include mq(tabletl) {
      width: 79%;
    }
  }

  blockquote { width: 88%; }
}
